{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-new": 0,
    "max-len": 0,
    "no-unused-expression": 0,
    "max-nested-callbacks": 0,
    "require-jsdoc": 0,
    "no-invalid-this": 0
  }
}
